<div class="col-xs-12 text-center" id="top-bar">
    <h1 id="header" class="c">Burger Database</h1>
</div>
<div class="header-text-wrapper z-depth-5">

    <p class="text bold">
        What is this?
    </p>
    <p class="text">
        Taking user input and and sending
        it to a mySQL server, the app uses full CRUD to display back the stored info, allowing users to manipulate it.
        This application has been created with Express, Node, mySQL, Javascript, Handle-Bars, and a personally made ORM.
    </p>

    <p class="text bold">
        How do I use it?
    </p>

    <p class="text">
        Simply enter a new burger name below in the input field to store it in the database. Once stored, you can click "Devour it!"
        to eat it and permanently store it in the mySQL server.

    </p>

</div>



<div class=" group spaceCreator">



    <div class="burger-wrapper">
                <p class="text3">
            Ready To Eat!
        </p>
        {{#each burger_data}} {{#unless this.devoured}}
        <div class="each-burger-wrapper z-depth-5">
            <div id="burgerImg"></div>
            <pre class="burger_name">{{this.burger_name}}</pre>


            <div class="col-xs-3 text-center">
                <form method="POST" action="/burgers/update?_method=PUT" class="button-size">
                    <input type="hidden" name="burger_id" type="text" value={{this.id}}>

                    <button type="submit" class="btn btn-default devour_button">
                        DEVOUR IT!</button>
                </form>
            </div>
        </div>
        {{/unless}} {{/each}}

    </div>

    <div class="consumed-burger-wrapper">
        <p class="text3">
            Consumed Burgers!
        </p>
        <div class="task">
            {{#each burger_data}} {{#if this.devoured}}
            <div class="each-consumed-burger-wrapper z-depth-5">

                <div class="burger_name2">{{this.burger_name}}
                    <div id="burgerImg"></div>
                </div>
            </div>
            {{/if}} {{/each}}
        </div>

    </div>


</div>


<div id="inputWrapper">
    <div id="anotherBox" class="z-depth-5">
        <p class="text2">Enter in a burger you would like to eat!</p>
        <form action="/burgers/create" method="POST">
            <div id="thisFuckingFormInput">
                <input type="text" name="burger_name" class="form-control" value="" id="enter_text">
            </div>
            <div class="thisFuckingButton">
                <button type="submit" class="btn btn-primary" id="text-enter-button">SUBMIT</button>
            </div>
        </form>
    </div>

</div>